/* Top line */
.top-line {
    background-color: lawngreen;
    height: 5px;
    display: flex;
}


/* Styling of the left menu */

.left-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #333;
    padding: 20px;
    border-right: thick;
    border-right-color: lawngreen;
    border-right-style: solid;
    border-top: thick;
    border-top-color: lawngreen;
    border-top-style: solid;
}


    .left-menu ul {
        list-style-type: none;
        padding: 0;
    }

    .left-menu li {
        margin-bottom: 10px;
    }

    .left-menu a {
        text-decoration: none;
        color: #fff;
        display: block;
    }

        .left-menu a:hover {
            background-color: lawngreen;
            color: #333;
        }

/* Styling of the dropdown menu */

.dropdown {
    position: relative;
}


.dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    z-index: 1000;
}

    .dropdown:hover .dropdown-menu {
        display: block;
    }

/* Styling for links */
main a {
    color: lawngreen;
    text-decoration: none;
}


    main a:hover {
        color: darkgreen;
        text-decoration: underline;
    }

/* Styling for menu links */
.menu a {
    color: #333;
    text-decoration: none;
}


    .menu a:hover {
        color: #333;
        text-decoration: none;
    }
